.blue {
  background-color: lightgray;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.gimg:hover {
  transform: translateY(-5px);
  transition: transform 0.3 ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(107, 107, 132);
}
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 100%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 2.5% 2.5% 0;
  background: snow;
  line-height: 1.8;
}
h1 {
  font: 2.4em Verdana, Geneva, sans-serif;
  margin-bottom: 0.4em;
  color: rgb(83, 104, 138);
}
h2 {
  font: 3.2em Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0.2em;
}
h3 {
  font-size: 1.2em;
}
p {
  margin-bottom: 1em;
}
a {
  color: rgb(184, 126, 84);
}
a:link {
  color: maroon;
}
a:visited {
  color: brown;
}
a:hover {
  color: rgb(120, 97, 55);
}
a:active {
  text-decoration: dashed;
}

div {
  margin: 0px;
}

.center {
  text-align: center;
}
header h2 {
  padding-bottom: 0.2em;
  border-bottom: 1px solid gray;
}
aside {
  padding: 1em;
  background: rgb(83, 104, 138);
  color: white;
  margin-bottom: 1em;
}
aside h4 {
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #ededed;
  color: #ffffff;
}
blockquote {
  font-style: italic;
}
.flowRight {
  float: right;
  margin-left: 10px;
}
.flowLeft {
  float: left;
  margin-right: 10px;
}
.flowCenter {
  float: right;
  margin-top: 10px;
}
img {
  border-radius: 10px;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -135px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 160px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: auto; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 200px;
  background-color: #5a7d7c;
}
#about2 {
  top: 140px;
  background-color: #5a7d7c;
}
#about3 {
  top: 20px;
  background-color: #5a7d7c;
}
#blog {
  top: 80px;
  background-color: #b5b2c2; /* Blue */
}

#projects {
  top: 140px;
  background-color: #a0c1d1; /* Red */
}
#projects2 {
  top: 80px;
  background-color: #a0c1d1; /* Red */
}
#projects3 {
  top: 140px;
  background-color: #a0c1d1; /* Red */
}

#contact {
  top: 20px;
  background-color: #232c33; /* Light Black */
}

.crumbs ol {
  list-style-type: none;
  padding-left: 0;
}

.crumb {
  display: inline-block;
}

.crumb a::after {
  display: inline-block;
  color: #000000;
  content: " \00A0 ";
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
.collapsible {
  background-color: #777777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 10px;
}

.active,
.collapsible:hover {
  background-color: #555555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333333; /* Black background color */
  color: #ffffff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

#snackbar2 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333333; /* Black background color */
  color: #ffffff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

#snackbar3 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333333; /* Black background color */
  color: #ffffff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
#snackbar4 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333333; /* Black background color */
  color: #ffffff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar2.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar3.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar4.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.button {
  background-color: #a0c1d1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  font-size: 15px;
}

.success {
  background-color: #a0c1d1;
}
.success:hover {
  background-color: #82aba1;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 04px;
  margin: 0px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 04px;
  margin: 0px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 25%;
    max-width: 25%;
    margin: 0px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
    margin: 0px;
  }
}
